# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# VirtualEnvs settings
venvs/*

# Attachments
attachments/*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Packaging files:
*.egg*

# SQLite3 database files:
*.db
*.sqlite3
*.sqlite

# Logs:
*.log

# Django stuff:
*.mo
*.pot

#PyCharm Files
.idea/

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Rope
.ropeproject

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Project settings
./site/
