/*
.row > div {
    outline: 1px solid #ccc;
}
*/
.dollarTotals {
  border-radius: 5px;
  background: #0073e6;
  color: white;
  margin: auto;
  width: 20%;
  font-weight:bold;
  font-size:16px;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
}

.dollarTotalLabel {
    float: left;
}

.dollarTotalAmount {
    float: right;
}

.lotteryBall {

}

.dataHeader {
    text-align:center;
    font-size:30px;
    font-weight: bold;
}

.drawingDate {
    margin-left: 5px;}

.drawingMegaball {
    color:red;
}

.drawingNumbers {
    color: black;
}